extends ../layout 
block append content
    section(class="container") 
        h2 Utilisateurs
        table 
            if allUsers && allUsers.length > 0
                thead
                    tr
                        th ID
                        th Email
                        th Prénom 
                        th Nom 
                        th Téléphone
                        th 
                        th
                tbody
                    each user in allUsers 
                        tr 
                            td= user.id
                            td= user.email
                            td= user.first_name 
                            td= user.last_name 
                            td= user.phone_number
                            td 
                                a(href="/admin75/user/update?id=" + user.id) Edit
                            td  
                                a(href="#") Delete  
            else 
                .alert.alert-info Aucun utilisateur              