extends ../layout 
block append content
    section(class="container") 
        h2 Biens immobilliers
        a(href="/admin75/realty/add") Ajouter un bien
        table 
            if realties && realties.length > 0
                thead
                    tr
                        th ID
                        th Adresse 
                        th Info 
                        th Type 
                        th Surfface 
                        th Pièces 
                        th Prix 
                        th En vente 
                        th En ligne 
                        th 
                        th
                tbody
                    each realty in realties 
                        tr 
                            td= realty.id
                            td= realty.address_1 +" "+ realty.address_2 +", "+ realty.city +" "+ realty.zipcode
                            td= realty.info_address
                            if realty.type == 1
                                td Maison
                            else 
                                td Appartement
                            td= realty.area + " m²"
                            td= realty.room
                            td= realty.price + " €"
                            if realty.sold == 0
                                td Oui
                            else 
                                td Non
                            if realty.online == 0
                                td Oui
                            else 
                                td Non
                            td 
                                a(href="/admin75/realty/update/" + realty.id) Edit
                            td  
                                a(href="/admin75/realty/delete/" + realty.id) Delete  
            else 
                .alert.alert-info Aucun biens immobiliers 